# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\anish\Desktop\Flipkart\JEDI_Bootcamp\Project\JDI02\CRS-JEDI-dropwizard\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
